services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: back_end
    working_dir: /var/www
    volumes:
      - .:/var/www
    ports:
      - "9000:9000"
    depends_on:
      - db
  db:
    image: postgres:15
    container_name: back_end_postgres_db
    environment:
      POSTGRES_DB: laravel_api
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
